.profileImage {
    width: 90%;
    border-radius: 10px;
}

.profileCard {
    max-width: 50%;
    margin-bottom: 2.5rem;
}

#profileCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
    justify-content: center;
}

#profileCards .button {
    border-radius: 5px;
}

#profileCards h3 {
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

@media (min-width: 540px) {
    #profileCards {
        flex-direction: row;
        margin-top: 2rem;
    }

    .profileImage {
        width: 50%;
    }

    .profileCard {
        width: 50%;
    }
}