body {
    margin: 0;
    padding: 0;
    font-family: "Public-Sans";
}

.itabLogo {
    width: 100px;
    border-radius: 50%;
    padding: 1rem;
}

#titleWrapper h1 {
    color: white;
    font-size: 1.3rem;
}

#titleWrapper {
    border-top: 5px solid orange;
    display: flex;
    align-items: center;
    gap: 10px;
}

#titleWrapper h1 {
    text-align: center;
}

.blueBackground {
    background-color: rgb(8, 45, 73);
}

.d-none {
    max-height: 0;
    pointer-events: none;
}

.d-show {
    max-height: 500px;
    pointer-events: auto;
}

#dropdownButton {
    margin: 1rem;
    font-size: 1.3rem;
}

#navList {
    list-style: none;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease;
    overflow: hidden;
}

#navList a {
    font-size: 1.5rem;
    color: rgb(8, 45, 73);
    display: block;
    padding: 1rem;
    border-top: 2px solid rgb(0, 0, 0, 0.1);
    text-decoration: none;
}

/*#navList {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}*/
