#profileLinks {
    margin-top: 1rem;
    display: flex;
    margin: 0 1rem;
    gap: 1rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.profileDropdowns {
    transition: max-height 0.3s ease;
    max-height: 0px;
    overflow: hidden;
}

.profileDropdowns li {
    padding-bottom: 0.5rem;
}

.profileDropdowns.open {
    max-height: 500px;
}

.profileDropdowns li {
    text-align: left;
}

@media (min-width: 800px) {
    #profileLinks {
        margin: 1.5rem 2rem
    }

    .button:hover {
        transform: scaleX(1.1);
    }
}